/* Global styles */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Hero section */
  .hero {
    background-image: url("home4.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero-content {
    max-width: 600px;
    margin: 0 auto;
  }
  
  .hero h1 {
    font-size: 45px;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 20px;
    margin-bottom: 40px;
  }
  
  /* Features section */
  .features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0;
    background-color: #f9f9f9;
  }
  
  .feature {
    max-width: 300px;
    text-align: center;
  }
  
  .feature h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .feature p {
    font-size: 16px;
    color: #666;
  }
  
  /* Button style */
  .btn {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
  }
  
  .btn:hover {
    background-color: #0056b3;
  }
  
  /* Footer */
  .footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
  }
  
  /* Navbar styles */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    font-family:'Gill Sans MT';
    font-size: 24px;
 
  }
  .logo {
    display: flex;
    align-items: center;
  }
  
  .logo img {
    width: 250px; /* Adjust size as needed */
    margin-right: 200px;
  }
  
  .logo h1 {
    margin: 0;
    font-size: 34px;
  }
  
  .nav-links {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .nav-links li {
    display: inline;
    margin-right: 20px;
  }
  
  .nav-links li:last-child {
    margin-right: 0;
  }
  
  .nav-links li a {
    color: #fff;
    text-decoration: none;
  }